
@font-face {
    font-family: Proxima;
    src: url(../assets/fonts/Proxima.otf);
}
body
{
  font-family: Proxima;
}


#back-button
{
  position: absolute;
  left:10;
  bottom:0;
  z-index: 99999;
}

#healthy-container
{
  position: absolute;
  color:#4caf50;
  width:50%;
  height: 40%;
  text-align: center;
  background-color:#E8F5E9;
  top:0;
  left:0;
}

#unhealthy-container
{
  position: absolute;
  right:0;
  top:0;
  width:50%;
  height: 40%;
  color:#f44336;
  text-align: center;
  background-color:#FFEBEE;

}
